<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


        {% stylesheets
            '@BabyAdvisorBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        {% javascripts
            '@BabyAdvisorBundle/Resources/public/js/*' %}
          <script src="{{ asset_url }}"></script>
        {% endjavascripts %}#}
   
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">

                 <a href="{{ path ('homepage') }}">
                    <img src="{{ asset('images/ba_logo_xs.jpg') }}" class=""><span class="glyphicons glyphicons-hand-left"></span></img>
                </a>

                  <div class="navbar-right">

                 <a href="#">
                    <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> En ce moment </button>
                </a>

                       <a href="#">
                    <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Meilleurs notes </button>
                </a>

                       <a href="#">
                    <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Ajouter un article </button>

                </a>

                    </div>
                </div>

                   <div class="container">


                 <a href="#">
                    <button class="btn btn-xs text-center navbar-btn"><span class="glyphicons glyphicons-hand-left"></span> Les activités</button>
                </a>

                       <a href="#">
                    <button class="btn btn-xs text-center navbar-btn"><span class="glyphicons glyphicons-hand-left"></span> Les lieux </button>
                </a>

                       <a href="{{ path ('membres') }}">
                    <button class="btn btn-xs text-center navbar-btn"><span class="glyphicons glyphicons-hand-left"></span> Les advisors </button>

                </a>


                  
                <div class="navbar-right">

                      {% if is_granted("ROLE_USER") %}

                      <table>

                        <tr>
                            <td  rowspan="2">
                         <img src="{{ asset('images/girl-icon.png') }}" ><span class="glyphicons glyphicons-hand-left"></span></img>
                         </td>
                        <td>
                         <p>Bonjour truc </p>
                         </td>

                         </tr>
                         <tr>
                           <td>
                         <a href="{{ path ('favoris') }}">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Mes favoris </button>
                        </a>
                         </td>

                           <td>
                             <a href="{{ path ('profil') }}">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Mon profil </button>
                        </a>
                         </td>
                         <td>
                           <a href="{{ path ('logout') }}">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Déconnexion </button>
                        </a>
                         </td>
                           </tr>

                        </table>

                        {% elseif is_granted("ROLE_ADMIN") %}
                    <table>

                        <tr>
                            <td  rowspan="2">
                         <img src="{{ asset('images/girl-icon.png') }}" ><span class="glyphicons glyphicons-hand-left"></span></img>
                         </td>
                        <td>
                         <p>Bonjour Administrateur</p>
                         </td>

                         </tr>
                         <tr>
                           <td>
                         <a href="#">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Les signalements </button>
                        </a>
                         </td>

                           <td>
                             <a href="#">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> L'historique</button>
                        </a>
                         </td>
                         <td>
                           <a href="{{ path ('logout') }}">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Déconnexion </button>
                        </a>
                         </td>
                           </tr>

                        </table>


                        {% else %}

                          <a href="{{ path ('login') }}">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Login </button>
                      </a>

                             <a href="{{ path ('inscription') }}">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Inscription </button>
                      </a>
                          
                       {% endif %}

                   </div>
                    


                </div>
            </nav>

        {% block body %}

        {% endblock %}
       

        <footer class="footer">
         
         
          
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link type="text/javascript" href="{{ asset('js/bootstrap.js') }}">
        {% block javascripts %}{% endblock %}
    </body>
</html>
