<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>


        {% stylesheets
            '@BabyAdvisorBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        {% javascripts
            '@BabyAdvisorBundle/Resources/public/js/*' %}
          <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
   
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <nav id="navigation-bar" class="navbar navbar-default navbar-fixed-top">
                <div id="navbar-up" class="container">

                 <a id="logo" href="{{ path ('homepage') }}">
                    <img src="{{ asset('images/logo-babyAdvisor.png') }}" class=""><span class="glyphicons glyphicons-hand-left"></span></img>
                </a>

                  <div id="right-bar" class="navbar-right">

                 <a id="now-anchor" href="#now-section">
                    <button id="now" class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> En ce moment </button>
                </a>

                       <a id="best-notes-anchor" href="#best-notes-section">
                    <button id="best-notes" class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Meilleurs notes </button>
                </a>

                       <a href="#">
                    <button id="new-article" class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Ajouter un article </button>

                </a>

                    </div>
                </div>

        <div id="navbar-bottom" class="container">
            <div id="left-bar">

                 <a href="#">
                    <button class="btn btn-xs text-center navbar-btn"><span class="glyphicons glyphicons-hand-left"></span> Les activités</button>
                </a>

                       <a href="#">
                    <button class="btn btn-xs text-center navbar-btn"><span class="glyphicons glyphicons-hand-left"></span> Les lieux </button>
                </a>

                       <a id="advisors" href="{{ path ('membres') }}">
                    <button class="btn btn-xs text-center navbar-btn"><span class="glyphicons glyphicons-hand-left"></span> Les advisors </button>

                </a>

            </div>
                  
                <div id="user-bar" class="navbar-right">

                 {% if app.session.get('userRole') =='ROLE_USER' %}

                      <table>

                        <tr>
                            <td  rowspan="2">
                         <img src="{{ asset('images/man-user.png') }}" ><span class="glyphicons glyphicons-hand-left"></span></img>
                         </td>
                        <td colspan="2">
                         <p class="helloUser">Bonjour truc </p>
                         </td>

                         </tr>
                         <tr>
                           <td>
                         <a href="{{ path ('favoris') }}">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Mes favoris </button>
                        </a>
                         </td>

                           <td>
                             <a href="{{ path ('profil') }}">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Mon profil </button>
                        </a>
                         </td>
                         <td>
                           <a href="{{ path ('logout') }}">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Déconnexion </button>
                        </a>
                         </td>
                           </tr>

                        </table>

                        {% elseif app.session.get('userRole') =='ROLE_ADMIN' %}
                    <table>

                        <tr>
                            <td  rowspan="2">
                         <img src="{{ asset('images/man-user.png') }}" ><span class="glyphicons glyphicons-hand-left"></span></img>
                         </td>
                        <td colspan="2" >
                         <p class="helloUser" >Bonjour Administrateur</p>
                         </td>

                         </tr>
                         <tr>
                           <td>
                         <a href="#">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Les signalements </button>
                        </a>
                         </td>

                           <td>
                             <a href="#">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> L'historique</button>
                        </a>
                         </td>
                         <td>
                           <a href="{{ path ('logout') }}">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Déconnexion </button>
                        </a>
                         </td>
                           </tr>

                        </table>


                        {% else %}

                          <a href="{{ path ('login') }}">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Login </button>
                      </a>

                             <a href="{{ path ('inscription') }}">
                          <button class="btn btn-xs text-center navbar-btn "><span class="glyphicons glyphicons-hand-left"></span> Inscription </button>
                      </a>
                          
                       {% endif %} 

                   </div>
                    


                </div>
            </nav>
        <div id="main-content" class="container">
            <div class="content-container">
        {% block body %}

        {% endblock %}
            </div>
            </div>
       

        <footer class="footer navbar-fixed-bottom">
           <div class="container">
                <table id="footerNormal">
                <tr>
                    <td id="left-footer">
                        <div id="social">
                            <a href="" rel="" target=""><img src="{{ asset('images/fb-logo.png') }}" alt="" /></a>
                            <a href="" rel="" target=""><img src="{{ asset('images/twitter-logo.png') }}" alt="" /></a>
                            <a href="" rel="" target=""><img src="{{ asset('images/instagram-logo.png') }}" alt="" /></a>
                        </div>
                        <div id="contact">
                            <a href="" rel="" target="">Contacts</a>
                            <a href="" rel="" target="">Qui sommes nous</a>
                        </div>
                  </td>
                  <td id="centreFooter">
                    <a href="{{ path ('homepage') }}" rel=""><img src="{{ asset('images/logo-babyAdvisor.png') }}" alt="" width="170"/></a>
                    <p>© Copyright 2016</p>
                  </td>
                  <td id="legal">
                    <a href="" rel="" target="">Mentions legales</a>
                  </td>
                </tr>
            </table>
            <div id="footerMini">
                <div id="social">
                            <a href="" rel="" target=""><img src="{{ asset('images/fb-logo.png') }}" alt="" /></a>
                            <a href="" rel="" target=""><img src="{{ asset('images/twitter-logo.png') }}" alt="" /></a>
                            <a href="" rel="" target=""><img src="{{ asset('images/instagram-logo.png') }}" alt="" /></a>
                        </div>
                <div id="contact">
                        <a href="" rel="" target="">Contacts</a>
                        <a href="" rel="" target="">Qui sommes nous</a>
                </div>   
                <div id="mentLeg">
                    <a href="" rel="" target="">Mentions legales</a>
                </div>
                <div id="logoFooter">
                    <a href="{{ path ('homepage') }}" rel=""><img src="{{ asset('images/logo-babyAdvisor.png') }}" alt="" width="170"/></a>
                    <p>© Copyright 2016</p>
                </div>
            </div>
        </div>       
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link type="text/javascript" href="{{ asset('js/bootstrap.js') }}">
        <link type="text/javascript" href="{{ asset('js/svg.js') }}">
        {% block javascripts %}{% endblock %}
    </body>
</html>
