{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}


    <div id="form-inscription" class="form-group container home col-md-10 col-md-offset-1">


    <form action="#" method="post">
       <div class="row">
           <div class="left">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom) }}
           </div>
            <div class="center">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom) }}
           </div>
           <div class="right">
                {{ form_label(form.pseudo) }}
                {{ form_widget(form.pseudo) }}
           </div>
        </div>
        <div class="row">
            <div class="left">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="center">
                {{ form_label(form.motDePasse) }}
                {{ form_widget(form.motDePasse) }}
            </div>
            <div class="right">
                {{ form_label(form.motDePasseConfirmation) }}
                {{ form_widget(form.motDePasseConfirmation) }}
            </div>
        </div>
        <div class="row2">
            {{ form_label(form.nombreEnfant) }}
            {{ form_widget(form.nombreEnfant) }}
        </div>
        <div class="row2">
            {{ form_label(form.ageEnfant) }}
            {{ form_widget(form.ageEnfant) }}
        </div>

        <div class="valider">
            {{ form_widget(form.Valider) }}
        </div>
    </form>


    </div>


{% endblock %}