{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div id="form-inscription" class="form-group container home col-md-10 col-md-offset-1 col-sm-12">

        <div>
            {% for message in app.session.flashbag.get('info') %}
                <p class="alert alert-danger" role="alert">{{ message }}</p>
            {% endfor %}
           
        </div>
        
        
    <form action="{{ path('inscription') }}" method="post" enctype="multipart/form-data">
       <div class="row">
           <div class="left">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom) }}
           </div>
            <div class="center">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom) }}
           </div>
           <div class="right">
                {{ form_label(form.pseudo) }}
                {{ form_widget(form.pseudo) }}
           </div>
        </div>

         <div class="row">
            <div class="left">
                {{ form_label(form.adresse) }}
                {{ form_widget(form.adresse) }}
            </div>
            <div class="code center">
                {{ form_label(form.cp) }}
                {{ form_widget(form.cp) }} 
            </div>
            <div class="right">
                {{ form_label(form.ville) }}
                {{ form_widget(form.ville) }}
            </div>
        </div>
            
        <div class="row">
            <div class="left">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="center">
                {{ form_label(form.motDePasse) }}
                {{ form_widget(form.motDePasse) }}
            </div>
            <div class="right">
                {{ form_label(form.motDePasseConfirmation) }}
                {{ form_widget(form.motDePasseConfirmation) }}
            </div> 
        </div>
        
        <div id="row3" class="row">
            <div class="left">
                {{ form_label(form.nombreEnfant) }}
                {{ form_widget(form.nombreEnfant) }}
            </div>
            <div id="inscriptio_anniv" class="center"></div>
        </div>
        
        <div class="row">
            <div  id="interets" class="right">
                {{ form_label(form.centreInterets) }}
                {{ form_widget(form.centreInterets) }}
            </div>
            
        </div>
        
        <div class="valider">
            {{ form_widget(form.Valider) }}
        </div>
        
        {{ form_widget(form._token) }}
    </form>


</div>


{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            

            $("input[name='inscription[nombreEnfant]']").change(function(){
                var test =$('input[name="inscription[nombreEnfant]"]:checked').val();
               //alert(test);

                $( "#inscriptio_anniv" ).empty();

                if(test> 0){
                    $('{{ form_label(form.trancheAge) }}{{ form_widget(form.trancheAge) }}  ').appendTo("#inscriptio_anniv");
                }

            });


           
        });





    </script>
{% endblock %}

