{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}


    <div id="formConnexion" class="form-group container home col-md-8 col-md-offset-2">

            <div>
            {% for message in app.session.flashbag.get('info') %}
                <p class="alert alert-danger" role="alert">{{ message }}</p>
            {% endfor %}
        </div>

        <form action="{{ path('login') }}" method="post">

         <div class="row"> 
             <div class="left">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
                 </div>
             <div class="centre">
            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}
                 </div>
            <div class="valider right">
                {{ form_widget(form.Connexion) }}
            </div>
        </div>
            {{ form_widget(form._token) }}
        </form>

      

         <a id="inscription" href="{{ path ('inscription') }}">
                    <button>
                        <span class="glyphicons glyphicons-hand-left"></span> Vous n'avez pas encore de compte ? Inscrivez-vous ! </button>
        </a>


    </div>


{% endblock %}