{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}


    <div id="formConnexion" class="form-group container home col-md-8 col-md-offset-2">

            <div>
            {% for message in app.session.flashbag.get('info') %}
                <p class="alert alert-danger" role="alert">{{ message }}</p>
            {% endfor %}
        </div>

        <form action="{{ path('login') }}" method="post">

           
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}

        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}

        {{ form_widget(form._token) }}


        {{ form_widget(form.Connexion) }}
       

        </form>

      

         <a href="{{ path ('inscription') }}">
                    <button><span class="glyphicons glyphicons-hand-left"></span> Vous n'avez pas encore de compte ? Inscrivez-vous </button>

                </a>


    </div>


{% endblock %}