{% extends "::base.html.twig" %}

{% block title %}BabyAdvisor - Accueil{% endblock %}

{% block stylesheets %}
		
{% endblock %}
	
{% block body %}

	 <div class="container home">

 		<button id="allBtn" class="btn btn-xs "><a href="#">Tous les signalements</a> </button>
        <button id="articleBtn" class="btn btn-xs active "><a href="#">Articles</a> </button>
        <button id="commentaireBtn" class="btn btn-xs active "><a href="#">Commentaires</a> </button>
        <button id="photoBtn" class="btn btn-xs active "><a href="#">Photos</a> </button>


	  <table id="tableSignalements" class="table allTable">
                <tr>
                    <th>signalement de</th>
                    <th>signaler par</th>
                    <th>Actions</th>
                </tr>
                {% for s in posts %}
                <tr>
                    <td>
                        type : {{s.ObjectName}} <br/>
                        id : {{s.IdObject}}
                    </td>
                    <td>  
                        pseudo : {{s.User.Pseudo}} <br/>                        	
                        id : {{s.User.id}}           
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs  btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Voir   <span class="caret"></span>                        
                            </button>
							<ul class="dropdown-menu">
                                <li>
									
                                    {% if s.ObjectName== "Article" %}
                                    <form method="post" action="{{path ('view_article', {'id': s.IdObject} ) }}">
                                    {% elseif s.ObjectName== "Commentaire" %}
                                    <form method="post" action="#">
                                    {% elseif s.ObjectName== "Photo" %}
                                    <form method="post" action="#">
                                    {% else %}
                                    <form method="post" action="#">
                                    {% endif %}
                                        <button class="btn btn-xs btn-block">Voir</button>
                                    
                                    </form>
								</li>
                                <li>
                                    <form method="post" action="{{path ('admin_suppresion', {'type': s.ObjectName, 'id': s.IdObject} ) }}">
                                        <button class="btn btn-xs btn-block">Supprimer</button>
                                    </form>
								</li>
                                <li>
                                    <form method="post" action="{{path ('admin_annuler', {'type': s.ObjectName, 'id': s.IdObject})}}">
                                        <button class="btn btn-xs btn-block">Annuler signalement</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
					</td>
                </tr>  

                {% endfor %}             
            </table>

             <table id="tableSignalements" class="table articlesTable">
                
                    <tr>
                        <th>signalement de</th>
                        <th>signaler par</th>
                        <th>Actions</th>
                    </tr>
                    {% for s in posts %}
                    {% if s.ObjectName== "Article" %}
                            <tr>
                               <td>
                        type : {{s.ObjectName}} <br/>
                        id : {{s.IdObject}}
                    </td>
                    <td>  
                        pseudo : {{s.User.Pseudo}} <br/>                            
                        id : {{s.User.id}}           
                    </td>

                        <td>
                             <div class="btn-group">
                                <button type="button" class="btn btn-xs  btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Voir   <span class="caret"></span>                        
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form method="post" action="{{path ('view_article', {'id': s.IdObject} ) }}">
                                            <button class="btn btn-xs btn-block">Voir</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form method="post" action="{{path ('admin_suppresion', {'type': s.ObjectName, 'id': s.IdObject} ) }}">
                                            <button class="btn btn-xs btn-block">Supprimer</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form method="post" action="{{path ('admin_annuler', {'type': s.ObjectName, 'id': s.IdObject})}}">
                                            <button class="btn btn-xs btn-block">Annuler signalement</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
    					</td>
                    </tr>
                    {% endif %}   
                {% endfor %}               
            </table>

             <table id="tableSignalements" class="table commentairesTable">
               
                <tr>
                    <th>signalement de</th>
                    <th>signaler par</th>

                    <th>Actions</th>
                </tr>
                {% for s in posts %}
                    {% if s.ObjectName== "commentaire" %}
                <tr>
                     <td>
                        type : {{s.ObjectName}} <br/>
                        id : {{s.IdObject}}
                    </td>
                    <td>  
                        pseudo : {{s.User.Pseudo}} <br/>                            
                        id : {{s.User.id}}           
                    </td>
                    <td>
                        <div class="btn-group">
                                <button type="button" class="btn btn-xs  btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Voir   <span class="caret"></span>                        
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form method="post" action="#">
                                            <button class="btn btn-xs btn-block">Voir</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form method="post" action="{{path ('admin_suppresion', {'type': s.ObjectName, 'id': s.IdObject} ) }}">
                                            <button class="btn btn-xs btn-block">Supprimer</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form method="post" action="{{path ('admin_annuler', {'type': s.ObjectName, 'id': s.IdObject})}}">
                                            <button class="btn btn-xs btn-block">Annuler signalement</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
					</td>
                </tr>    
                    {% endif %}   
                {% endfor %}             
            </table>

            <table id="tableSignalements" class="table photosTable">
                  
                    <tr>
                        <th>signalement de</th>
                        <th>signaler par</th>
                        <th>Actions</th>
                    </tr>
                    {% for s in posts %}
                    {% if s.ObjectName== "Photo" %}
                    <tr>
                         <td>
                        type : {{s.ObjectName}} <br/>
                        id : {{s.IdObject}}
                    </td>
                    <td>  
                        pseudo : {{s.User.Pseudo}} <br/>                            
                        id : {{s.User.id}}           
                    </td>
                        <td>
                            <div class="btn-group">
                                    <button type="button" class="btn btn-xs  btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Voir   <span class="caret"></span>                        
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <form method="post" action="#">
                                                <button class="btn btn-xs btn-block">Voir</button>
                                            </form>
                                        </li>
                                        <li>
                                            <form method="post" action="{{path ('admin_suppresion', {'type': s.ObjectName, 'id': s.IdObject} ) }}">
                                                <button class="btn btn-xs btn-block">Supprimer</button>
                                            </form>
                                        </li>
                                        <li>
                                            <form method="post" action="{{path ('admin_annuler', {'type': s.ObjectName, 'id': s.IdObject})}}">
                                                <button class="btn btn-xs btn-block">Annuler signalement</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
    					</td>
                    </tr> 
                    {% endif %}   
                {% endfor %}                
            </table>

	  </div >



{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.articlesTable').hide();
            $('.commentairesTable').hide();
            $('.photosTable').hide();

        });

        $(document).on('click', 'button', function () {
            var idButton = this.id;
            //alert(idButton);

            if(idButton=="articleBtn"){
                //$('#tableDemandes').addClass('articlesTable').removeClass('allTable');
                $('.articlesTable').show();
                $('.allTable').hide();
                $('.commentairesTable').hide();
                $('.photosTable').hide();

            }

            if(idButton=="allBtn"){
               // $('#tableDemandes').addClass('allTable').removeClass('articlesTable');
                $('.allTable').show();
                $('.articlesTable').hide();
                $('.commentairesTable').hide();
                $('.photosTable').hide();
            }

            if(idButton=="commentaireBtn"){
               // $('#tableDemandes').addClass('allTable').removeClass('articlesTable');
                $('.commentairesTable').show();
                $('.articlesTable').hide();
                $('.allTable').hide();
                $('.photosTable').hide();
            }

             if(idButton=="photoBtn"){
               // $('#tableDemandes').addClass('allTable').removeClass('articlesTable');
                $('.photosTable').show();
                $('.articlesTable').hide();
                $('.allTable').hide();
                $('.commentairesTable').hide();
            }

        });



    </script>
{% endblock %}
