{% extends "::base.html.twig" %}

{% block title %}BabyAdvisor - Ajouter un article {% endblock %}

{% block stylesheets %}
		
{% endblock %}
	
{% block body %}

	 <div id="ajout-article" class="container home form-group col-md-10 col-md-offset-1 col-sm-12">

     <h2>Ajouter un article</h2>

       <div>
            {% for message in app.session.flashbag.get('info') %}
                <p class="alert alert-danger" role="alert">{{ message }}</p>
            {% endfor %}
        </div>

        <form action="{{ path ('ajouter_article') }}" method="post" enctype="multipart/form-data">

        <div class="row"> 
            <div class="left">
            {{ form_label(form.titre) }}
            {{ form_widget(form.titre) }}
            </div>
        </div>
            
            
        <div class="row">
            <div class="left">
                {{ form_label(form.adresse) }}
                {{ form_widget(form.adresse) }}
            </div>
            <div class="code center">
                {{ form_label(form.cp) }}
                {{ form_widget(form.cp) }} 
            </div>
            <div class="right">
                {{ form_label(form.ville) }}
                {{ form_widget(form.ville) }}
            </div>
        </div>      
        
        <div class="row">
            <div class="left">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            </div>
        </div>
        
        <div class="row">
            <div  id="interets" class="left">
            {{ form_label(form.centreInterets) }}
            {{ form_widget(form.centreInterets) }}
            </div>
        </div>
        
        <div class="row">
            <div class="left">
            {{ form_label(form.trancheAge) }}
            {{ form_widget(form.trancheAge) }}
            </div>
        </div>
            
        <div class="row">
            <div class="horaires left">
            {{ form_row(form.horaires) }}
            <button class="button-ajout" type="button" id="ajouter_horaire"  name="button"> + horaires </button>
            </div>
        </div>
        </br>

         <div class="row">
             <div class="left">
            {{ form_label(form.photos) }}
            {{ form_widget(form.photos) }}
             </div>
         </div>

         <div class="valider">
             {{ form_label(form.Ajouter) }}
            {{ form_widget(form.Ajouter) }}
         </div>

        {{ form_widget(form._token) }}
        </form>
	  </div >
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            var $container = $('div#ajouter_article_horaires');
            var index = $container.find(':input').length;

            $("#ajouter_horaire").click(function(e){         
                   addHoraire($container);
                   e.preventDefault(); 
                    return false;      
            });
           
    function addHoraire($container) {
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Horaire n°' + (index+1))
        .replace(/__name__/g,        index)
      ;
      var $prototype = $(template);

      $container.append($prototype);
      index++;
    }      
        });
    </script>
{% endblock %}