{% extends "::base.html.twig" %}

{% block title %}BabyAdvisor - Accueil{% endblock %}

{% block stylesheets %}
		
{% endblock %}
	
{% block body %}

         <div>
            {% for message in app.session.flashbag.get('info') %}
                <p class="alert alert-danger" role="alert">{{ message }}</p>
            {% endfor %}
           
        </div>

        <form id="formRecherche"  action="{{ path('recherche') }}" method="post" enctype="multipart/form-data">
                  <div class="row">
                      <div class="left">
                {{ form_widget(form.ville, {'attr': {'onblur': 'codeAddress()' }}) }}
                          </div>
                      <div class="right valider">
                {{ form_label(form.localisation) }}
                {{ form_widget(form.localisation,  {'attr': {'onclick': 'getPosition()' }}) }}
                          
                     
                 {{ form_widget(form.Rechercher) }}
                          </div>
                      </div>
             {{ form_widget(form._token) }}
            </form>

    <div class="media">
        <img id="banner" src="{{ asset('images/banner-babyAdvisor.jpg') }}" alt="Plus besoin de chasses au tresor pour vos bonnes adresses !" />
    </div>
    <div id="now-section" class="home-section">
        <a class="section-title" href="">
            <img src="{{ asset('images/now.png') }}" alt="" />
        </a>



      	<ul class="list-activites">
            {% for key, lA in lastArticle%}
           
            <li>
            	<a href="{{path ('view_article', {'id': lA.id})}}">
	                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
	                <h4 class="title-activite">{{lA.Titre}}</h4>
	                <p clas="details-activite">{% for cat in lA.Categories %}{{cat.Libelle}} -{% endfor %} {{lA.DateMaJ|date("d/m/Y")}} - {{lA.ville}}</p>
                </a>
            </li>
            {% endfor %}

        </ul>
    </div>
    <div id="best-notes-section" class="home-section">
        <a class="section-title" href=""><img src="{{ asset('images/title-best-notes.png') }}" alt="" /></a>
        <ul class="list-activites">
        	{% for key, tA in topArticle if key < 3 %}
            <li>
            	<a href="{{path ('view_article', {'id': tA.id})}}">
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                    <h4 class="title-activite">{{tA.Titre}}</h4>
                    <p clas="details-activite">{% for cat in tA.Categories %}{{cat.Libelle}} -{% endfor %} {{tA.DateMaJ|date("d/m/Y")}} - {{tA.ville}}</p>
                    <div class="note-activite">
                        {%for n in tA.Notes %}
                        <h3>{{n.MoyGen}}</h3>
                        <!-- if (note < 1,8) add id "un", if note < 2,8 add id "deux" , etc...-->
                        <object id="{{n.MoyGen}}" class="notes-svg" type="image/svg+xml" data="{{ asset('images/notes.svg') }}" >
        Note de l'article <!-- fallback image in CSS -->
    </object>
                        {% endfor %}
                    </div>
                    <a class="partegez" href="">partagez !</a>

                    
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}