{% extends "::base.html.twig" %}

{% block title %}BabyAdvisor - Accueil{% endblock %}

{% block stylesheets %}
		
{% endblock %}
	
{% block body %}
    <div class="media">
        <img id="banner" src="{{ asset('images/banner-babyAdvisor.jpg') }}" alt="Plus besoin de chasses au tresor pour vos bonnes adresses !" />
    </div>
    <div id="now-section" class="home-section">
        <a class="section-title" href="">
            <img src="{{ asset('images/now.png') }}" alt="" />
        </a>
      <ul class="list-activites">
            <li>
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                    <h4 class="title-activite">title</h4>
                    <p clas="details-activite">category - date - lieu</p>
            </li>
          <li class="middle-element">
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                    <h4 class="title-activite">title</h4>
                    <p clas="details-activite">category - date - lieu</p>
            </li>
          <li>
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                    <h4 class="title-activite">title</h4>
                    <p clas="details-activite">category - date - lieu</p>
            </li>
          <li>
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                    <h4 class="title-activite">title</h4>
                    <p clas="details-activite">category - date - lieu</p>
            </li>
          <li class="middle-element">
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                    <h4 class="title-activite">title</h4>
                    <p clas="details-activite">category - date - lieu</p>
            </li>
          <li>
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                    <h4 class="title-activite">title</h4>
                    <p clas="details-activite">category - date - lieu</p>
            </li>
        </ul>
    </div>
    <div id="best-notes-section" class="home-section">
        <a class="section-title" href=""><img src="{{ asset('images/title-best-notes.png') }}" alt="" /></a>
        <ul class="list-activites">
            <li>
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                    <h4 class="title-activite">title</h4>
                    <p clas="details-activite">category - date - lieu</p>
                    <div class="note-activite">
                        <img src="{{ asset('images/3.png') }}" />
                    </div>
                    <a class="partegez" href="">partagez !</a>
            </li>
            <li class="middle-element">
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                    <h4 class="title-activite">title</h4>
                    <p clas="details-activite">category - date - lieu</p>
                    <div class="note-activite">
                        <img src="{{ asset('images/4.png') }}" />
                    </div>
                    <a class="partegez" href="">partagez !</a>
            </li>
            <li>
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                    <h4 class="title-activite">title</h4>
                    <p clas="details-activite">category - date - lieu</p>
                    <div class="note-activite">
                        <img src="{{ asset('images/5.png') }}" />
                    </div>
                    <a class="partegez" href="">partagez !</a>
            </li>
        </ul>
    </div>
    

	  



{% endblock %}