{% extends "::base.html.twig" %}

{% block title %}BabyAdvisor - Accueil{% endblock %}

{% block stylesheets %}
		
{% endblock %}
	
{% block body %}

         <div>
            {% for message in app.session.flashbag.get('info') %}
                <p class="alert alert-danger" role="alert">{{ message }}</p>
            {% endfor %}
           
        </div>

    <div class="media">
        <img id="banner" src="{{ asset('images/banner-babyAdvisor.jpg') }}" alt="Plus besoin de chasses au tresor pour vos bonnes adresses !" />
    </div>
    <div id="now-section" class="home-section">
        <a class="section-title" href="">
            <img src="{{ asset('images/now.png') }}" alt="" />
        </a>



      	<ul class="list-activites">
            {% for key, lA in lastArticle%}
            <li {% if key == 1 or key == 4 %} class="middle-element" {% endif %}>
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                <h4 class="title-activite">{{lA.Titre}}</h4>
                <p clas="details-activite">category - date - lieu</p>
            </li>
            {% endfor %}
          	<!--<li class="middle-element">
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                <h4 class="title-activite">title</h4>
                <p clas="details-activite">category - date - lieu</p>
            </li>
            <li>
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                <h4 class="title-activite">title</h4>
                <p clas="details-activite">category - date - lieu</p>
            </li>
            <li>
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                <h4 class="title-activite">title</h4>
                <p clas="details-activite">category - date - lieu</p>
            </li>
            <li class="middle-element">
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                <h4 class="title-activite">title</h4>
                <p clas="details-activite">category - date - lieu</p>
            </li>
            <li>
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                <h4 class="title-activite">title</h4>
                <p clas="details-activite">category - date - lieu</p>
            </li>-->
        </ul>
    </div>
    <div id="best-notes-section" class="home-section">
        <a class="section-title" href=""><img src="{{ asset('images/title-best-notes.png') }}" alt="" /></a>
        <ul class="list-activites">
        	{% for key, tA in topArticle if key < 3 %}
            <li{% if key == 1 %} class="middle-element" {% endif %}>
                <img class="cover" src="{{ asset('images/cover-activite.jpg') }}" alt="" />
                    <h4 class="title-activite">{{tA.Titre}}</h4>
                    <p clas="details-activite">{% for cat in tA.Categories %}{{cat.Libelle}} {% endfor %}- {{tA.DateMaJ|date("d/m/Y")}} - {{tA.ville}}</p>
                    <div class="note-activite">
                        <img src="{{ asset('images/3.png') }}" />
                    </div>
                    <a class="partegez" href="">partagez !</a>

                    <form action="#" method="post">

                    {{ form_widget(form._token) }}


                    {{ form_widget(form.Signaler) }}
                   

                    </form>


            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}