{% extends "::base.html.twig" %}

{% block title %}BabyAdvisor - Noter un article {% endblock %}

{% block stylesheets %}
		
{% endblock %}
	
{% block body %}

	 <div id="formNoter" class="container home form-group col-md-8 col-md-offset-2">

       <div>
            {% for message in app.session.flashbag.get('info') %}
                <p class="alert alert-danger" role="alert">{{ message }}</p>
            {% endfor %}
        </div>

        <form action="#" method="post" enctype="multipart/form-data">

          <div class="row"> 
             <div class="left"> 
        {{ form_label(form.proprete) }}
        {{ form_widget(form.proprete) }}
              </div>
<div class="left">
        {{ form_label(form.accessibilite) }}
        {{ form_widget(form.accessibilite) }}
              </div>
              <div class="left">
        {{ form_label(form.encadrement) }}
        {{ form_widget(form.encadrement) }}
              </div>
              <div class="left">
        {{ form_label(form.ambiance) }}
        {{ form_widget(form.ambiance) }}
              </div>
              <div class="left">
         {{ form_label(form.equipement) }}
        {{ form_widget(form.equipement) }}
              </div>
            </div>

  <div class="valider right">
        {{ form_widget(form.Noter) }}
              </div>
       
 {{ form_widget(form._token) }}
        </form>

	  

        	
	  </div >



{% endblock %}



{% block javascripts %}
    <script type="text/javascript">




    </script>
{% endblock %}